@import '../../styles/variables.scss';

.Dashboard {
    
    display: flex;
    font-family: $workSans-family;
}

aside {
    font-size: 16px;
    color: rgba($blue-color, 0.6);
    font-weight: 400;
    width: 18%;
    background-color: #fff;
    margin-top: 20px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
       
    }

    span {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
        cursor: pointer; 
        padding-left: 30px;
        min-height: 40px;
        padding-top: 10px;
        

    &:hover {
        background-color: rgba($green-color, 0.1);
        color: $blue-color; 
        border-left: 2px solid $green-color;
    }

    }
}
.asideHeader {
    font-size: 12px;
    font-weight: 500;
    padding-left: 30px;
}


.rightDashboard {
    width: 82%;
    background-color: #213F7D0F;
    padding: 60px 30px 60px 40px;
    color: $blue-color;
    display: flex;
    flex-direction: column;
    gap: 20px;


    h1 {
        font-weight: 500;
        padding-bottom: 10px;
        font-size: 24px;
    }
}

.userBoxContainer {
    display: flex;
    justify-content: space-between;
}

.userBox {
    height: 160px;
    width: 240px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    

    img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        
    }

    p {
        font-size: 14px;
        font-weight: 500;
    }

    h2 {
        font-size: 24px;
        font-weight: 600;
    }
}

.userTable {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

    // tr {
    //     display: flex;
    //     justify-content: space-between;
        
    // }


    td {
        font-size: 14px;
        font-weight: 400;
        padding:20px 0px;
    }
}

  
.headerWithFilter {
      display: flex;
      align-items: center;
      ;
      gap: 18px;
      font-size: 12px;
      font-weight: 600;
    }
  
  
  .filterIcon {
    width: 12px; // Adjust size as needed
    height: 12px;
    cursor: pointer;
  }