@import '../../styles/variables.scss';

.Dashboard {
    
    display: flex;
    font-family: $workSans-family;
}



.rightDashboard {
    width: 82%;
    background-color: #213F7D0F;
    padding: 60px 30px 60px 40px;
    color: $blue-color;
    display: flex;
    flex-direction: column;
    gap: 20px;


    h1 {
        font-weight: 500;
        padding-bottom: 10px;
        font-size: 24px;
    }
}

.userBoxContainer {
    display: flex;
    justify-content: space-between;
}

.userBox {
    height: 160px;
    width: 240px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    

    img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        
    }

    p {
        font-size: 14px;
        font-weight: 500;
    }

    h2 {
        font-size: 24px;
        font-weight: 600;
    }
}

.userTable {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

    // tr {
    //     display: flex;
    //     justify-content: space-between;
        
    // }
    position: relative;


    td {
        font-size: 14px;
        font-weight: 400;
        padding:20px 0px;
    }

    th {
        padding-bottom: 30px;
    }

    tbody {
        position: relative;
    }
}

  
.headerWithFilter {
      display: flex;
      align-items: center;
      ;
      gap: 18px;
      font-size: 12px;
      font-weight: 600;
    }
  
  
  .filterIcon {
    width: 12px; // Adjust size as needed
    height: 12px;
    cursor: pointer;
  }

  .statusActive {
    color: #39CD62;
    background-color: rgba(#39CD62, 0.1);
    padding: 10px;
    border-radius: 50px;
  }
  
  .statusBlacklisted {
    color: #E4033B;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(#E4033B, 0.1);
 
  }
  
  .statusInactive {
    background-color: rgba($blue-color, 0.1);
    color: $blue-color;
    padding: 10px;
    border-radius: 50px;
  }
  
  .statusPending {
    color: #E9B200;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(#E9B200, 0.1);
    
  }

.paginationContainer {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    color: rgba($blue-color, 0.7);
}

.paginationLeft {
    display: flex;
    align-items: center;
    gap: 10px;

    select {
        height: 30px;
        width: 80px;
        background-color: rgba($blue-color, 0.1);
        color: $blue-color;
        border-radius: 5px;
    }
}

.paginationRight {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;

    img {
        cursor: pointer;
        padding: 8px;
        border-radius: 5px;
        background-color: rgba($blue-color, 0.1);
    }

    p {
        cursor: pointer;
    }

    .active {
        font-weight: 700;
    }
}

.statusField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    img {
        cursor: pointer;
    }
}

.DetailModal {
    z-index: 1000;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  