@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$workSans-family: "Work Sans", sans-serif;
$blue-color: #213F7D;
$green-color: #39CDCC;
$blue-text: #545F7D;
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
