@import '../../styles/variables.scss';

.DetailModalContainer {
    font-family: $workSans-family;
    width: 180px;
    height: 130px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    color: $blue-text;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    

    div {
        display: flex;
        gap: 15px;
        
        background-color: #fff;
       

    }

    img {
        height: 16px;
        width: 16px;
    }
}